NODE_ENV=production
PORT=6000
SERVE_STATIC=true
DB_PASSWORD=AsiaMax2026
DATABASE_URL=postgresql://asiamax:AsiaMax2026@localhost:5432/asiamax_store
TELEGRAM_BOT_TOKEN=8364532299:AAF48yZxdV9FDACokqi-dKHEeulpPVqdlUA
TELEGRAM_CHAT_ID=1384026800
